
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    font-size: 62.5%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 4rem;
}


.title{
    color: black;
}
.searchbar-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40rem;
    height: 5rem;
    
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   
}
.searchbar-input{
    height: 100%;
    width: 100%;
    border: none;
    
}
.search{
    background-color: green;
    width: 5rem;
    height: 100%;
    font-size: 3rem;
}