* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  padding-top: 4rem;
  min-height: 34vh;
  gap: 3rem;
  background-image: url("/src/img/pattern-bg-desktop.png");
  background-size: cover;
  background-position: center;
}

.title {
  color: rgb(255, 255, 255);
  font-size: 3rem;
}
.searchbar-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60rem;
  height: 6rem;
  position: relative;

  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.searchbar-input {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 15px 0px 0px 15px;
  padding-left: 3rem;
  font-size: 3rem;
  font-weight: 600;
}
.searchbar-input::placeholder {
  font-size: 2rem;
  font-weight: 500;
}
.searchbar-input:focus {
  outline: none;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  width: 5rem;
  height: 100%;
  font-size: 3rem;
  border-radius: 0 15px 15px 0;
}

.search-icon {
  color: white;
  height: 1.5rem;
}

.display {
  height: 20rem;
  background-color: white;
  width: 70%;
  position: absolute;
  top: 23rem;
  border-radius: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: start;
  z-index: 401;
}
.display-title {
  font-weight: 600;
  font-size: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1rem;
  height: 60%;
  padding: 0 5rem;
  border-right: solid 1px rgb(202, 202, 202);
}
.noborder {
  border-right: none;
}

.display-title span {
  color: rgb(140, 139, 139);
  font-size: 2rem;
  font-weight: 600;
}
.map {
  height: 65vh;
  width: 100%;
  background-color: rgb(22, 80, 22);
}
